@model IEnumerable<WebApplication3.Models.Ambiente>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AmbienteID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AmbienteID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AmbienteID })
        </td>
    </tr>
}

</table>
